body {
    font-family: monospace;
    font-size: 18px;
}

button {
    background:none;
    border:none;
    padding: 0 10px;
    cursor: pointer;
    font-family: monospace; font-size: 18px;
    text-decoration: underline;
}

#view {
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    display: flex;
    flex-direction: row;
}

#left-pane {
    position: relative;
    width: 50%; height: 100vh;
		overflow: hidden;
}

#right-pane {
    position: relative;
    width: 50%; height: 100vh;
}

#vsplit {
    top: 0; left: 50%;
    width: 10px; height: 100%;
    margin-left: -5px;
    cursor: ew-resize;
    background-color: whitesmoke;
}

#vline {
		margin: auto;
		width: 1px;
		height: 100%;
		background-color: black;
}

#editor-window {
    position: relative;
    width: 100%; height: calc(100% - 30px);
		margin-bottom: 1px;
}

#editor {
    width: calc(100% - 5px); height: 100%;
    font-family: monospace; font-size: 18px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    border-style: none;
}

#save-button {
    position: absolute;
    top: 5px; right: 5px;
}

#left-split {
    width: 100%; height: 1px;
    background-color: black;
}

#viz-window {
    position: relative;
    width: 100%; height: 70%;
		overflow-y: hidden;
}

#viz {
    padding: 10px;
}

#clear-data {
    position: absolute;
    top: 5px; right: 5px;
}

#right-split {
    position: absolute;
    top: 70%; left: 0;
    width: 100%;
    height: 10px;
    margin-top: -5px;
    cursor: ns-resize;
    z-index: 20;
    background-color: whitesmoke;
}

#hline {
		margin-top: 5px;
		margin-left: -5px;
		width: calc(100% + 5px);
		height: 1px;
		background-color: black;
}

#console-pane {
    position: relative;
    width: 100%; height: 30%;
}

#console-window {
    position: relative;
    width: 100%; height: 100%;
    overflow-y: scroll;
}

#console {
    margin: 10px;
}

#clear-console {
    position: absolute;
    top: 5px; right: 5px;
}

ul {
    padding-left: 24px;
    list-style-type:"≫ ";
}

:focus {
    outline: thin dotted;
}
